/* Reset and base styles */
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e8e8e8;
}

.dark *,
.dark ::after,
.dark ::before {
  border-color: #282828;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-bg-c, #fff); // 默认背景颜色
  background-image: var(--background-image, none); // 使用 CSS 变量来动态设置背景图像
  background-size: cover; // 确保背景图像覆盖整个页面
  background-position: center; // 背景居中显示
  color: var(--text-c);
}

/* 深色模式的适配 */
html.dark {
  --bg-c: var(--dark-bg-c) !important;
  --main-bg-c: var(--dark-main-bg-c) !important;
  --text-c: var(--dark-text-c) !important;
  --text-c-1: var(--dark-text-c-1) !important;

  /* 深色模式下的背景图像 */
  --background-image: url('https://www.bing.com/path/to/dark-mode-image.jpg'); // 你可以替换为动态获取的URL
}
