*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e8e8e8;
}

.dark *, ::after, ::before {
  border-color: #282828;
}

/* 强制背景色 */
html {
  background-color: var(--bg-c); /* 统一背景色 */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-c); /* 保证页面背景统一 */
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
}

img {
  display: block;
}
