:root {
  --text-c: #374151;
  --text-c-1: #606060;

  // ------ Dark theme
  --dark-bg-c: #18181a;
  --dark-main-bg-c: #1e1e20;
  --dark-text-c: #e1e1e1;
  --dark-text-c-1: #c1c1c1;

  // ------ 背景图像
  --background-image: none; // 默认背景图像
}

html.dark {
  --bg-c: var(--dark-bg-c) !important;
  --main-bg-c: var(--dark-main-bg-c) !important;
  --text-c: var(--dark-text-c) !important;
  --text-c-1: var(--dark-text-c-1) !important;

  // 深色主题下的背景图像
  --background-image: url('https://www.bing.com/path/to/dark-mode-image.jpg'); // 你可以替换为实际的深色模式背景图像链接
}

html {
  --bg-c: #f3f4f6; // 默认背景颜色（浅色模式）
  --main-bg-c: #fff;
  --background-image: none; // 默认背景图像（浅色模式）
}
``
